<section class="post moi">
    <p>This is a simple blog that posts summaries of the comments on social sites like HackerNews so that it is easier to understand the general sentiment and gist of the discussion.</p>
    
    <div class="moi-links">
        <a href="/index.xml" class="rss" rel="me">RSS</a> |
        <a href="mailto:paulkinlan@google.com" class="email" rel="me">Email</a> |
        <a rel="me" href="https://twitter.com/paul_kinlan" class="twitter" rel="me">Twitter</a> |
        <a rel="me" href="https://github.com/paulkinlan" class="medium" rel="me">Github</a> |
        <a rel="me" href="https://status.kinlan.me/@paul">Mastodon</a> 
    </div>
</section>